# Package managers
bower_components/
node_modules/
npm-debug.log*
vendor/
yarn.lock

# Development
.eslintcache
*.map
tsconfig.tsbuildinfo

# Build
lib/
resources/logo.png

# Project specific
*.vsix
todo.md
